/* --------------------------- *\
			GENERALES
\* --------------------------- */

@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

html {
	font-size: 16px;
}

  
body {
	background: url('/images/fundo.jpg') no-repeat center center fixed;
	background-size: cover;
  }

body {
	margin: 0;
	height: 100vh; /* Garante que o corpo ocupe toda a altura da janela */
	background-image: url('/images/fundo.jpg'); /* caminho para a imagem */
	background-size: cover; /* Faz com que a imagem cubra toda a área do fundo */
	font-family: system-ui, sans-serif;
	background-color: var(--color-fondo);
}

h1,
h2,
h3 {
	font-family: 'Fjalla One', sans-serif;
	font-weight: normal;
}

.container {
	max-width: 1024px;
	min-width: 320px;
	margin: 0 auto;
}

.container-adorno {
	width: var(--espaciado-normal);
	height: 100%;
	background-color: var(--color-secundario);
	position: absolute;
}

.container-titulo {
	position: relative;
}

.titulo-adorno {
	width: var(--espaciado-muy-alto);
	height: var(--espaciado-muy-alto);
	border-radius:  20% 550% 0;
	background-color: var(--color-secundario);

	position: absolute;
	top: var(--espaciado-alto);
	left: var(--espaciado-muy-leve);
}

.titulo-texto {
	margin: 0;
	margin-left: var(--espaciado-titulo);
	padding: var(--espaciado-muy-alto) 0;
	color: var(--color-secundario);
	font-size: 1.3em;
	font-weight: bold;
	text-transform: uppercase;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
  }

  /* Estilos para a seção de contato */
.contatos {
    padding: 20px;
}

.container-adorno {
    /* Adicionar estilos específicos para o adorno, se necessário */
}

.contatos-grilla {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.contatos-formulario {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-titulo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.titulo-adorno {
    /* Adicionar estilos específicos para o adorno, se necessário */
}

.titulo-texto {
    font-size: 1.2em;
    font-weight: bold;
}

.formulario-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

textarea.formulario-input {
    height: 100px;
    resize: none;
}

.formulario-boton {
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario-boton:hover {
    background-color: #218838;
}

.depoimentos-mulheres-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.depoimentos-mulheres {
    max-width: 30%;
    height: auto;
}
